.top-rated-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 95%;
  padding-top: 30px;
}

.page-title {
  text-transform: uppercase;
  text-align: left;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: black;
}

.movie-wrapper {
  background: linear-gradient(to top right, #ccffff 0%, #66ffff 100%);
}
