.card_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px;
  margin: 5px 0;
  color: #e6e6e6;
  background-color: #0a4b8b;
  border-radius: 10px;
  position: relative;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  font-family: "Bahnschrift";
  cursor: pointer;
}

.card_container:hover {
  background-color: #ccffff;
  color: #0a4b8b;
  transform: scale(1.02);
  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
  height: 350px;
  width: 100%;
}

.title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding: 8px 0 8px 5px;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 2px 6px 5px;
}
