.link {
  text-decoration: none;
  color: #e5e5e5;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 12px;
  font-size: 20px;
  margin-top: 1px;
  letter-spacing: 0.5px;
}

.link:hover {
  color: #ffcccc;
}

.activeLink {
  color: #ff6666;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 12px;
  font-size: 24px;
  margin-top: 1px;
  letter-spacing: 0.5px;
}

.searchLink {
  margin-left: 50px;
}
